
  .image {
    width: auto;
    height: 100%;
    margin-right: 15px;
  }

  .imageIcons{
    width: auto;
    height: 100%;
    margin-right: 15px;
  }

  @media screen and (max-width: 750px) {
    .imageIcons {
      width: auto;
      height: 90%;
      margin-right: 5px;
    }
  }

  .imageProjects{
    width: auto;
    height: 100%;
  }

  @media screen and (max-width: 750px) {
    .imageProjects {
      width: 100%;
      height: auto;
    }
  }

  .imageProjectImg{    
    width: auto;
    height: 100%;
    margin-bottom: 15px;
  }
