.image {
    width: auto;
    height: 100%;
    margin-right: 15px;
  }

  .imageProjects{
    width: auto;
    height: 100%;
  }

  .orangeLink {
    background-color: orange;
  }
  .orangeLink:hover{
    background-color: rgb(196, 128, 2);
  }

  .blueLink {
      background-color: blue;
  }
  .blueLink:hover {
    background-color: rgb(1, 1, 216);
  }

  .redLink {
      background-color: rgb(202, 0, 0);
  }
  .redLink:hover {
    background-color: rgb(145, 0, 0);
  }

  .defaultLink {
    background-color: blue;
  }


  @media screen and (max-width: 750px) {
    .imageProjects {
      width: 100%;
      height: auto;
    }
  }